.intro {
  background-image: url("./images/intro/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media (max-width: 800px) {
  .intro {
    background-image: url("./images/intro/background-2.png");
  }
} */

.intro__inner {
  padding: calc(73px + 61 * var(--size)) 0 calc(76px + 47 * var(--size)) 0;
}

.intro__title-sup {
  color: #fff;
  font-size: calc(17px + 23 * var(--size));
  font-weight: 700;
}

.intro__title-sub {
  margin-top: calc(10px + 17 * var(--size));

  color: #778087;
  font-size: calc(12px + 4 * var(--size));
  font-weight: 400;
}

.intro__title-sub span {
  color: #fff;
}

#about .title {
  position: relative;

  color: #000;
  font-size: calc(17px + 23 * var(--size));
  font-weight: 700;
  line-height: 50px;
}

#about .title::before {
  content: "";
  position: absolute;
  top: calc(0px - 27 * var(--size));
  left: 0;

  width: 50px;
  height: 3px;

  background: #008fff;
}

.managers {
  padding: calc(40px + 90 * var(--size)) 0 calc(40px + 17 * var(--size)) 0;

  background-color: #f5fbff;
}

.managers__sub {
  color: #000;
  font-size: calc(16px + 2 * var(--size));
  font-weight: 400;
  line-height: 28px;

  margin: calc(25px + 25 * var(--size)) 0;

  max-width: 525px;
}

@media (max-width: 500px) {
  .managers__sub {
    display: none;
  }
}

.managers__sub span {
  font-weight: 700;
}

.managers__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (max-width: 1089px) {
  .managers__list {
    justify-content: center;
    gap: 35px;
  }
}

@media (max-width: 500px) {
  .managers__list {
    margin-top: 25px;
  }
}

.managers__list-item {
  max-width: 350px;

  padding-top: 210px;
  position: relative;
}

.managers__list-img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.managers__list-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.managers__list-block {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 1px 11px 0px #deecf7;

  padding: 20px 26px 39px;
  position: relative;
}

.managers__block-top {
  padding-bottom: 11px;
  border-bottom: 2px solid #008fff;
}

.managers__block-sup {
  color: #000;
  font-size: 21px;
  font-weight: 700;
  line-height: 28px;
}

.managers__block-sub {
  margin-top: -3px;

  color: #7d7d7d;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
}

.managers__list-text {
  margin-top: 29px;

  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}
